#goo-container {
	float: left;
}

canvas {
	border: 1px solid black;
}

.button {
  min-height: 10px;
  min-width: 18px;
  border: 1px solid black;
  outline: none;
}

.button-active {
	border: 3px solid #eee;
}

#tile-types-container {
	float: left;
	padding: 5px;
}

#instruments-container {
	overflow: hidden;
	padding: 5px;
	padding-left: 50px;
}

#file-menu-container {
	padding: 5px;
}

#canvas-and-notes-container {
	overflow: hidden;
}

#notes-container {
	overflow: hidden;
	padding-left: 10px;
	padding-top: 10px;
}

.note-button {
	display: block;
	width: 40px;
}

#note-A-button {
	background-color: #000066;
}

#note-As-button {
	background-color: #000099;
}

#note-B-button {
	background-color: #0000cc;
}

#note-Bs-button {
	background-color: #0000ff;
}

#note-C-button {
	background-color: #006600;
}

#note-Cs-button {
	background-color: #009900;
}

#note-D-button {
	background-color: #00cc00;
}

#note-Ds-button {
	background-color: #00ff00;
}

#note-E-button {
	background-color: #660000;
}

#note-Es-button {
	background-color: #990000;
}

#note-F-button {
	background-color: #cc0000;
}

#note-Fs-button {
	background-color: #ff0000;
}

#note-G-button {
	background-color: #cccc00;
}

#note-Gs-button {
	background-color: #ccff00;
}

#notes-container {
  display: block;
}




/* Utility */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/* Fixes a FireFox issue where buttons are still highlighted despite outline:none; */
button::-moz-focus-inner {
  border: 0;
}

