#goo-container {
	float: left;
}

canvas {
	border: 1px solid black;
}

.button {
  min-height: 10px;
  min-width: 18px;
  border: 1px solid black;
  outline: none;
}

.button-active {
	border: 3px solid #eee;
}

#tile-types-container {
	float: left;
	padding: 5px;
	padding-left: 20px;;
}

#instruments-container {
	float: left;
	padding: 5px;
	padding-left: 20px;
}

#file-menu-container {
	float: left;
	padding: 5px;
}

#canvas-and-notes-container {
	overflow: hidden;
}

#notes-container {
	overflow: hidden;
	padding-left: 10px;
	padding-top: 10px;
}

.note-button {
	display: block;
	width: 40px;
}

#note-Ab-button {
	background-color: #000066;
}

#note-A-button {
	background-color: #000099;
}

#note-Bb-button {
	background-color: #0000cc;
}

#note-B-button {
	background-color: #0000ff;
}

#note-C-button {
	background-color: #006600;
}

#note-Db-button {
	background-color: #00cc00;
}

#note-D-button {
	background-color: #00ff00;
}

#note-Eb-button {
	background-color: #660000;
}

#note-E-button {
	background-color: #990000;
}

#note-F-button {
	background-color: #cc0000;
}

#note-Gb-button {
	background-color: #cccc00;
}

#note-G-button {
	background-color: #ccff00;
}

#notes-container {
  display: block;
}




/* Utility */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/* Fixes a FireFox issue where buttons are still highlighted despite outline:none; */
button::-moz-focus-inner {
  border: 0;
}





/* Simple dialog, css-tricks.com */

#modal {
  background: white;

  position: fixed;
  width: 50%;
  top: 50%;
  left: 50%;
  margin: -25% 0 0 -25%;

  /* Embiggen */
  transform: scale(1.5); /* prefix me */

  /* Hidden */
  opacity: 0;
  pointer-events: none;
}

.dialogIsOpen #page-wrap {
  /* Blur and de-color */
  -webkit-filter: blur(5px) grayscale(50%);

  /* Recede */
  -webkit-transform: scale(0.9);
}

.dialogIsOpen #modal {
  /* Regular size and visible */
  transform: scale(1); /* prefix me */
  opacity: 1;

  /* Clickable */
  pointer-events: auto;
  border: 1px solid;
}
